<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frugally Dashing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='updatecart.js') }}""></script>
    <script src="{{ url_for('static', filename='addToCart.js') }}""></script>
    <script src="{{ url_for('static', filename='clearcart.js') }}""></script>
    <script src="{{ url_for('static', filename='hidecart.js') }}""></script>
    <script src="{{ url_for('static', filename='grained.js') }}""></script>
</head>
<body>
    <header>
        <div class="title">
            <button class="cartbtn" onclick="window.location.href='/show_cart'">Go to Cart</button>
            <select class="store-dropdown" onchange="getAndShowCart(this.value)">
                <option value="">Select Store</option>
                {% for csvfile in csvfiles %}
                    <option value="{{ csvfile }}">{{ csvfile }}</option>
                {% endfor %}
            </select>
            <script>
                function getAndShowCart(store) {
                    fetch('/get_current_csv')
                        .then(response => response.json())
                        .then(data => {
                            const currentCsv = data.current_csv[0];
                            window.location.href = '/?store=' + store;
                        });
                }
            </script>
        </div>
    </header>
    <script>
</script>
    <main>
        <div id="grainbackground" class="grainbackground">
            <div class="subheader">
                <h2>Welcome to Frugal Dash</h2>
                <p>This program calculates the cost of your groceries based on stored information from various stores, such as Aidi or any other store of your choice. It provides an estimate of your grocery expenses for a specific duration, whether it's a week, a month, or a year. This program calculates the cost of your groceries based on stored information from various stores, such as Aidi or any other store of your choice. It provides an estimate of your grocery expenses for a specific duration, whether it's a week, a month, or a year.</p>
            </div>
            <div class="foodandcartcontainer">
                <div class="show-cart">  
                    <div class="cartheader">
                        <h2>Shopping Cart</h2>
                    </div>
                    <div class="cartbg">
                        <table>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in foodcart %}
                                <tr>
                                    <td>{{ item.item_name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.count }}</td>
                                </tr>
                                {% endfor %}
        
                            </tbody>
                        </table>
                    </div>
                    <div class="showcarttotal">
                        <p id="total-cost">The Total Cost Of This Cart is ${{ total_cost }}</p>
                        <button class="clearcart" onclick="clearCart()">Clear Cart</button>
                    </div>
            </div>
                <div class="fooditems">
                    <div class="search">
                        <form id="searchForm">
                            <input type="text" name="search" id="search" placeholder="Search for an item">  
                        </form>
                    </div>
                    <div class="allitems">
                <!-- Have this search go over all the boxes some how with css -->
                    <p id="no-items-found">No items found</p> 
               </div>
            </div>
        </div>
        <script>
            const searchForm = document.getElementById('searchForm');
            const allItemsDiv = document.querySelector('.allitems');
            let page = 1;
        
            let isSearchActive = false;

            searchForm.addEventListener('submit', function(event) {
                event.preventDefault();
                const searchInput = document.getElementById('search').value;
                fetch(`/search?query=${searchInput}`)
                    .then(response => response.json())
                    .then(data => {
                        allItemsDiv.innerHTML = '';
                        data.forEach(item => {
                            appendItemToDiv(item);
                        });
                        isSearchActive = true; // Set the flag to true after a search
                    })
                    .catch(e => {
                        console.error('An error occurred while searching:', e);
                    });
            });

            // Your scroll event listener
            window.addEventListener('scroll', function() {
                if (!isSearchActive && window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                    // Fetch new items only if a search is not active
                    fetchData();
                }
            });

            // Reset the flag when the search input is cleared
            // Reset the page variable when the search input is cleared
            document.getElementById('search').addEventListener('input', function() {
                if (this.value === '') {
                    isSearchActive = false;
                    page = 1; // Reset the page variable
                }
            });

            // Reset the page variable when the page is loaded
            window.addEventListener('load', function() {
                page = 1; // Reset the page variable
            });
            // Add scroll event listener to .allitems div
            allItemsDiv.addEventListener('scroll', function() {
                if (!isSearchActive && this.scrollTop + this.clientHeight >= this.scrollHeight) {
                    // Fetch new items only if a search is not active and scrolled to the bottom
                    fetchData();
                }
            });
            function fetchData() {
                fetch(`/data?page=${page++}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.length === 0) {
                            // If the response is an empty array, stop the recursion
                            return;
                        }
                        data.forEach(item => {
                            appendItemToDiv(item);
                        });
                    })
                    .catch(e => {
                        console.error('An error occurred while fetching the data:', e);
                    });
            }
            function appendItemToDiv(item) {
                const div = document.createElement('div');
                div.innerHTML = `
                    <h2 class="itemname">${item.item_name}</h2>
                    <img src="${item.image_url}" alt="${item.item_name}">
                    <p class="itemprice">Price: ${item.price}</p>
                    <form class="add-to-cart-form">
                        <input type="hidden" name="item_name" value="${item.item_name}">
                        <input type="hidden" name="price" value="${item.price}">
                        <input type="hidden" name="image_url" value="${item.image_url}">
                        <input type="number" name="count" id="count_${item.item_name}" min="1" value="${item.count}">
                        <input type="button" class="addtocart" value="Add to cart" onclick="addToCart('${item.item_name}', '${item.price}', '${item.image_url}','${item.count}', '${item.store}', document.getElementById('count_${item.item_name}').value)">
                    </form>
                `;
                allItemsDiv.appendChild(div);
            }
        
            // Fetch initial data
            fetchData();
        </script>
        
        <!-- Todo add the feature that you can remove each item from the cart by adding a remove button next to each item in the cart. -->

     
        </div>
        </main>
        <script>
            window.onload = function() {
                var options = {
                    "animate": false,
                    "patternWidth": 388.24,
                    "patternHeight": 382.84,
                    "grainOpacity": 0.1,
                    "grainDensity": 1,
                    "grainWidth": 1,
                    "grainHeight": 1
                }

                // Use setTimeout or requestAnimationFrame
                requestAnimationFrame(() => {
                    grained("#grainbackground", options);
                });

                hideShowCart();
                fetchInitialData(); // Call the new function here
            };
        </script>
        </body>
        </html>